/* Subheader
----------------------*/

.divideLine {
  margin: 0;
  margin-top: 80px;
  background-color: #14c1c5;
  height: 5px;
  width: 100%;
}

.headLine {
  background-color: #07567e;
  width: 100%;
  text-align: center;
}

.headLine h1 {
  padding: 25px 0;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

/* Navigation and add
  ----------------------*/
.MainContainer {
  margin-left: 80px;
}

.container {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}

.navSection {
  margin-top: 30px;
}

.navButtons {
  border: 2px solid #4bd9c3;
  background-color: #4bd9c3;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  text-align: center;
  margin-left: 20px;
  transition: color 0.5s, background-color 0.5s;
}

.navButtons:hover {
  background-color: #fff;
  color: #4bd9c3;
}

.navButtons:first-child {
  margin-left: 0;
}

/* Filter Section
  ----------------------*/
.filterSection {
  margin-top: 10px;
}

.filterContainer {
  padding: 10px;
  background-color: #f5f5f5;
}

.flexSelectAndBtn {
  display: flex;
  justify-content: space-between;
}

.flexForSelects {
  width: 59%;
  display: flex;
  justify-content: space-between;
}

.select {
  width: 49%;
}

.inputGroup {
  width: 49%;
  display: none;
}

.visible {
  display: block;
}

.flexButtons {
  width: 39%;
  display: flex;
  justify-content: space-between;
}

.filterButtons {
  width: 48%;
  border: 2px solid #07567e;
  background-color: #07567e;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;

  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
}

/* Count Section
  ----------------------*/
.procedureCountBlock {
  margin-top: 10px;
}

.procedureCountBlock .container p {
  font-size: 18px;
  font-weight: 500;
  color: #07567e;
}

/* Doctors Section table
  ----------------------*/
.tableSection {
  margin-top: 10px;
  overflow-x: auto;
}

.table {
  width: 100%;
}

.table th {
  background-color: #14c1c5;
  padding: 10px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.table td {
  background-color: #fff;
  padding: 20px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #dadada;
}

.table th:first-child {
  border-left: none;
}

.table th:last-child {
  border-right: none;
}

tr:hover td {
  background-color: #f5f5f5;
  cursor: text;
}

.flexForAction {
  position: relative;
}

.actionIcon {
  width: 35px;
  height: 35px;
  &:hover {
    cursor: pointer;
  }
}

.actionsWrapper {
  position: absolute;
  background-color: #fff;
  top: 0;
  width: 250px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  z-index: 999;
}

.buttonsWrapper {
  padding: 10px;
}

.actionsBtn {
  width: 100%;
  border: 0;
  background-color: #337ab7;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  transition: color 0.5s, background-color 0.5s;
  &:hover {
    background-color: darken(#337ab7, 5%);
  }
  &:first-child {
    margin-top: 0;
  }
}

.actionsBtn.deleteBtn {
  background-color: #d9534f;
  &:hover {
    background-color: darken(#d9534f, 5%);
  }
}

.actionsBtn.createBtn {
  background-color: #5cb85c;
  &:hover {
    background-color: darken(#5cb85c, 5%);
  }
}

.actionsBtn.viewBtn {
  background-color: #5bc0de;
  &:hover {
    background-color: darken(#5bc0de, 5%);
  }
}
