    /* Subheader
----------------------*/

.divideLine {
  margin: 0;
  margin-top: 80px;
  background-color: #14C1C5;
  height: 5px;
  width: 100%;
}

.headLine {
  background-color: #07567E;
  width: 100%;
  text-align: center;
}

.headLine h1 {
  padding: 25px 0;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.MainContainer {
  margin-left: 80px;
}